@import "../../styles/main";

.flat-button {
  color: $main_color;
  &:hover {
   color: #d24335;
  }
}

.about-me {
  padding: 160px 37px 156px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    white-space: nowrap;
    color: #212529;
    font-size: $heading_1_desktop_size;
    line-height: $heading_1_desktop_line_height;
    margin: 0 290px 68px;
  }

  &__container{
    display: flex;
  }

  &__logo {
    width: 339px;
  }

  &__description {
    max-width: 550px;
    margin-left: 50px;
  }

  &__article-heading{
    font-size: $heading_2_size;
    line-height: $heading_2_line_height;
  }

  &__article-description {
    margin-top: 24px;
  }


  &__sign-up-button {
    margin-top: 36px;
  }
}

@media  (max-width: 1000px) {
  .about-me {
    padding: 119px 30px 116px;

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__heading {
      text-align: center;
      white-space: nowrap;
      color: #212529;
      font-size: $heading_1_tablet_size;
      line-height: $heading_1_tablet_line_height;
      margin: 0 auto 68px;
    }

    &__container{
      align-self: flex-start;
    }

    &__logo {
      width: 247px;
    }

    &__description {
      margin-left: 30px;
    }

    &__article-heading{
      font-size: $heading_2_size;
      line-height: $heading_2_line_height;
    }

    &__article-description {
      margin-top: 24px;
    }


    &__sign-up-button {
      margin-top: 39px;
    }
  }
}


@media  (max-width: 600px) {
    .about-me {
    padding: 80px 15px 76px;

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__heading {
      text-align: center;
      font-size: $heading_1_mobile_size;
      line-height: $heading_1_mobile_line_height;
      margin: 0 auto 32px;
    }

    &__container{
      flex-direction: column;
      align-items: center;
      align-self: flex-start;
    }

    &__logo {
      width: 247px;
    }

    &__description {
      margin-left: 0px;
      margin-top: 40px;
    }

    &__article-heading{
      font-size: $heading_2_size;
      line-height: $heading_2_line_height;
      text-align: center;
    }

    &__article-description {
      margin-top: 24px;
    }


    &__sign-up-button {
      text-align: center;
      margin-top: 36px;
    }
  }
}
