$main_font: 'Open Sans';

/*fonts*/

$heading_2_size: 24px;
$heading_2_line_height: 29px;

$paragraph_1_size: 16px;
$paragraph_1_line_height: 24px;

/*desktop*/
$heading_1_desktop_size: 50px;
$heading_1_desktop_line_height: 54px;

/*tablet*/
$heading_1_tablet_size: 40px;
$heading_1_tablet_line_height: 44px;

/*mobile*/
$heading_1_tablet_size: 30px;
$heading_1_tablet_line_height: 34px;

/*colors*/
$main_color: #ef5b4c;
$secondary_color: #1b4a8a;
$background_color: #ffffff;
$background_color_2: #f9f9f3;

/*width*/
$container-max-width: 1170px
