@import '../../styles/main';

.nav {
  display: flex;
  color: #212529;
  font-size: 14px;
  &__item {

    &:not(:first-child) {
      margin-left: 30px;
    }

    & a {
      color: #212529;
    }

    & a:visited {
      color: #212529;
    }

    & a:hover {
      color: $main_color;
    }

    & a:focus {
      color: $secondary_color;
    }
  }
}

.header {
  background-color: white;
  position: sticky;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  &__content {
    display: flex;
    padding: 20px 30px;
  }

  &__nav {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: none; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  right: 30px;
  width: 20px;
  height: 15px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1b4a8a;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}




@media  (max-width: 768px) {
  .menu__btn {
    display: flex;
  }

  .menu__box {
    display: flex;
    position: fixed;
    flex-direction: column;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    align-items: flex-start;
    list-style: none;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .nav__item {
    &:not(:first-child) {
      margin-left: 15px;
    }
    margin-left: 15px;
    margin-top: 30px;
  }
  .nav__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }
}

