@import '../../styles/main';

.nav {
  display: flex;
  color: #212529;
  font-size: 14px;
  &__item {
    &:not(:first-child) {
      margin-left: 30px;
    }

    & a:visited {
      color: #212529;
    }

    & a:hover {
      color: $main_color;
    }

    & a:focus {
      color: $secondary_color;
    }
  }
}

.header {
  background-color: white;
  position: sticky;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  &__content {
    display: flex;
    padding: 20px 30px;
  }

  &__nav {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}
