.footer {
  &__content {
  }
  &__design {
    height: 60px;
    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #4c4b4b;
  }
}
